<div class="container">
    <div class="card">
        <div class="card__header">
            <img src="../../../assets/Puffin.jpg" alt="card__image" class="card__image" width="250" height="200">
        </div>
        <div class="card__body">
            <span class="tag tag-blue">Hot</span>
            <h5>Puffin Mini Heart Power Acne Patch</h5>
            <p>฿ 149.00</p>
        </div>
    </div>
    <div class="card">
        <div class="card__header">
            <img src="../../../assets/Puffin.jpg" alt="card__image" class="card__image" width="250" height="200">
        </div>
        <div class="card__body">
            <span class="tag tag-brown">Best Seller</span>
            <h5>Puffin Mini Heart Power Acne Patch</h5>
            <p>฿ 149.00</p>
        </div>
    </div>
    <div class="card">
        <div class="card__header">
            <img src="../../../assets/Puffin.jpg" alt="card__image" class="card__image" width="250" height="200">
        </div>
        <div class="card__body">
            <span class="tag tag-red">Must Have</span>
            <h5>Puffin Mini Heart Power Acne Patch</h5>
            <p>฿ 149.00</p>
        </div>
    </div>
    <div class="card">
        <div class="card__header">
            <img src="../../../assets/Puffin.jpg" alt="card__image" class="card__image" width="250" height="200">
        </div>
        <div class="card__body">
            <span class="tag tag-blue">Hot</span>
            <h5>Puffin Mini Heart Power Acne Patch</h5>
            <p>฿ 149.00</p>
        </div>
    </div>
    <div class="card">
        <div class="card__header">
            <img src="../../../assets/Puffin.jpg" alt="card__image" class="card__image" width="250" height="200">
        </div>
        <div class="card__body">
            <span class="tag tag-blue">Hot</span>
            <h5>Puffin Mini Heart Power Acne Patch</h5>
            <p>฿ 149.00</p>
        </div>
    </div>
    <div class="card">
        <div class="card__header">
            <img src="../../../assets/Puffin.jpg" alt="card__image" class="card__image" width="250" height="200">
        </div>
        <div class="card__body">
            <span class="tag tag-blue">Hot</span>
            <h5>Puffin Mini Heart Power Acne Patch</h5>
            <p>฿ 149.00</p>
        </div>
    </div>
    <div class="card">
        <div class="card__header">
            <img src="../../../assets/Puffin.jpg" alt="card__image" class="card__image" width="250" height="200">
        </div>
        <div class="card__body">
            <span class="tag tag-blue">Hot</span>
            <h5>Puffin Mini Heart Power Acne Patch</h5>
            <p>฿ 149.00</p>
        </div>
    </div>
    <div class="card">
        <div class="card__header">
            <img src="../../../assets/Puffin.jpg" alt="card__image" class="card__image" width="250" height="200">
        </div>
        <div class="card__body">
            <span class="tag tag-blue">Hot</span>
            <h5>Puffin Mini Heart Power Acne Patch</h5>
            <p>฿ 149.00</p>
        </div>
    </div>
    <div class="card">
        <div class="card__header">
            <img src="../../../assets/Puffin.jpg" alt="card__image" class="card__image" width="250" height="200">
        </div>
        <div class="card__body">
            <span class="tag tag-blue">Hot</span>
            <h5>Puffin Mini Heart Power Acne Patch</h5>
            <p>฿ 149.00</p>
        </div>
    </div>


</div>