<br>
<div class="header">
    <img src="../../../assets/logo/Trickxy_Logo.JPG" class="mx-auto d-block logo-img">
    <br>
    <p class="text-center">A community for people who want tips and tricks for beauty inspirations</p>
    <hr style="margin:auto; width:80%;">

    <!-- navbar -->
    <div class="nav-menubar">
        <a class="navbar-brand" href="/">Home</a>
        <a class="nav-item" href="/spotlight">Spotlight</a>
        <a class="nav-item" href="/blog">Blog</a>
        <a class="nav-item" href="/shop">Shop</a>
        <!-- <span class="nav-item dropdown">
            <a class=" dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                Shop
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="#">New Arrive</a></li>
                <li><a class="dropdown-item" href="#">Highlight</a></li>
                <li>
                    <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item" href="#">Promotion</a></li>
            </ul>
        </span> -->
        <a class="nav-item" href="#">Contact</a>

        <span class="">
            <!-- Icon -->
            <a class="text-reset me-3" href="/cart">
                <i class="bi bi-cart2"></i>
            </a>

            <!-- Notifications -->
            <!-- <span class="dropdown">
                <a class="text-reset me-3 dropdown-toggle hidden-arrow" href="#" id="navbarDropdownMenuLink"
                    role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="bi bi-bell"></i>
                    <span class="badge rounded-pill badge-notification bg-danger">1</span>
                </a>
                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownMenuLink">
                    <li>
                        <a class="dropdown-item" href="#">Some news</a>
                    </li>
                    <li>
                        <a class="dropdown-item" href="#">Another news</a>
                    </li>
                    <li>
                        <a class="dropdown-item" href="#">Something else here</a>
                    </li>
                </ul>
            </span> -->

            <!-- Login -->

            <span *ngIf="!isLogin; else loginAlready">
                <a class="nav-item" href="/login-register">Login</a>
            </span>
            <ng-template #loginAlready>
                <!-- Avatar -->
                <span class="dropdown">
                    <a class="dropdown-toggle" href="#" id="navbarDropdownMenuAvatar" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        <img src="{{myProfileData.photoURL}}" class="rounded-circle" height="25"
                            alt="Black and White Portrait of a Man" loading="lazy" />
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownMenuAvatar">
                        <li>
                            <a class="dropdown-item" href="/my-profile">My profile</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="#">Settings</a>
                        </li>
                        <li>
                            <a class="dropdown-item" (click)="logout()">Logout</a>
                        </li>
                    </ul>
                </span>
            </ng-template>
        </span>
    </div>
</div>