<div class="bg">
    <div class="py-3">
        <!-- Create post btn -->
        <div class="text-end">
            <button type="submit" class="btn btn-primary mb-3 mx-3">Create Post</button>
        </div>

        <!-- View  -->
        <!-- Card post -->
        <div class="card mx-3">
            <div class="row mx-1">
                <div class="col-sm-1">
                    <div class="text-center">
                        <img src="https://i.pravatar.cc/40?img=1" alt="user__image" class="user__image">
                    </div>
                </div>
                <div class="col-sm-9">
                    <div class="card-body">
                        <h5 class="card-title">@abcdscsasd</h5>
                        <h6 class="card-subtitle mb-2 text-muted">หัวข้อ</h6>
                        <p class="card-text">
                            Some quick example text to build on the card title and make up the bulk of
                            the card's content.
                            Some quick example text to build on the card title and make up the bulk of
                            the card's content.
                        </p>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="item-review text-center">
                        <img class="size-pic" src="../../../assets/Puffin.jpg" alt="user__image">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="py-3">
        <div class="card mx-3">
            <div class="row mx-2">
                <div class="col-sm-1">
                    <div class="user text-center">
                        <img src="https://i.pravatar.cc/40?img=1" alt="user__image" class="user__image">
                    </div>
                </div>
                <div class="col-sm-9">
                    <div class="card-body">
                        <h5 class="card-title">@abcdscsasd</h5>
                        <h6 class="card-subtitle mb-2 text-muted">หัวข้อ</h6>
                        <p class="card-text">
                            Some quick example text to build on the card title and make up the bulk of
                            the card's content.
                            Some quick example text to build on the card title and make up the bulk of
                            the card's content.
                        </p>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="item-review text-center">
                        <img class="size-pic" src="../../../assets/Puffin.jpg" alt="user__image">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="py-3">
        <div class="card mx-3">
            <div class="row mx-2">
                <div class="col-sm-1">
                    <div class="user text-center">
                        <img src="https://i.pravatar.cc/40?img=1" alt="user__image" class="user__image">
                    </div>
                </div>
                <div class="col-sm-9">
                    <div class="card-body">
                        <h5 class="card-title">@abcdscsasd</h5>
                        <h6 class="card-subtitle mb-2 text-muted">หัวข้อ</h6>
                        <p class="card-text">
                            Some quick example text to build on the card title and make up the bulk of
                            the card's content.
                            Some quick example text to build on the card title and make up the bulk of
                            the card's content.
                        </p>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="item-review text-center">
                        <img class="size-pic" src="../../../assets/Puffin.jpg" alt="user__image">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End View -->

</div>