<div class="bg">
    <div class="py-3">
        <!-- Create post btn -->
        <div class="text-end">
            <button class="btn btn-primary mb-3 mx-3" (click)="goToCreatePost()">Create Post</button>
        </div>

        <!-- View  -->
        <!-- Card post -->
        <div class="card mx-3 my-3" *ngFor="let blog of allBlog">
            <div class="row mx-1">
                <div class="col-sm-1">
                    <div class="text-center">
                        <img src={{blog.authorImgUrl}} alt="user__image" class="user__image">
                    </div>
                </div>
                <div class="col-sm-9">
                    <div class="card-body">
                        <h5 class="card-title">{{blog.authorName}}</h5>
                        <h6 class="card-subtitle mb-2 text-muted">{{blog.title}}</h6>
                        <p class="card-text">
                            {{blog.description}}
                        </p>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="item-review text-center">
                        <img class="size-pic" src={{blog.fileUpload}} alt="image product review">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- End View -->

</div>