<!-- <div class="bg">
    <div class="py-3">
        <input>
    </div>
</div> -->
<div class="px-3 pb-5">
    <div class="container contact-form shadow">
        <form [formGroup]='blogForm' (ngSubmit)="submit()" method="post">
            <br>
            <h3 class="text-color-primary">Drop your review to blog</h3>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <input type="text" name="txtName" class="form-control" placeholder="Title *" formControlName="title" />
                    </div>
                    <br>
                    <div class="form-group">
                        <textarea name="txtMsg" class="form-control" placeholder="Your Message *"
                            style="width: 100%; height: 150px;" formControlName="description"></textarea>
                    </div>
                    <br>
                </div>
                <!-- upload img -->
                <div class="col-md-6">
                    <label>
                        <input type="file" accept="image/*" class="text-nowrap text-truncate"
                            (change)="selectFile($event)" />
                    </label>
        
                    <!-- preview img -->
                    <div *ngIf="filePath && filePath !== ''" class="py-2">
                        <img [src]="filePath" alt="Sorry" class="preview-size-img">
                    </div>
                </div>

                <!-- submit btn -->
                <div class="text-center py-3">
                    <input type="submit" name="btnSubmit" [disabled]="uploading" class="btnContact btn-primary" value="Submit"  />
                </div>
            </div>

        </form>
    </div>
</div>