.bg {
    background-color: #fcecec;
}

.profile {
    border-radius: 100px !important;
}

.list-inline-item {
    padding-right: 25px;
}

body {
    background: #654ea3;
    background: linear-gradient(to right, #e96443, #904e95);
    // min-height: 100vh;
    // overflow-x: hidden
}
.img-thumbnail{
    padding: 0 !important;
}